#!/bin/bash
# Author: Hernán Morales Durand <hernan.morales@gmail.com>
# Only configuration related with Axiom ArBos 1 chip type

source ax_lib_root.sh

# Edit the following variable for different species than Bos Taurus
export ax_library_dir=${ax_library_root}"Axiom_ArBos1.r1/"
export ax_params_file=${ax_library_dir}'Axiom_ArBos_1_96orMore_Step1.r1.apt-genotype-axiom.AxiomGT1.apt2.xml'
export ax_sketch_file=${ax_library_dir}'Axiom_ArBos_1.r1.AxiomGT1.sketch'
export ax_probeset_file=${ax_library_dir}"Axiom_ArBos_1.r1.cdf"
export ax_annot_db==${ax_library_dir}'Axiom_ArBos_1.na35.annot.db'
export ax_penncnv_map=${ax_results_dir}"Axiom_ArBos_1.na35.annot.db-probemappings.txt"

