#!/bin/bash
# Author: Hernán Morales Durand <hernan.morales@gmail.com>
# Only configuration related with Axiom Bos ONE chip type

source ax_lib_root.sh

# Edit the following variable for different species than Bos Taurus
export ax_library_dir=${ax_library_root}"Axiom_GW_Bos_SNP_1.r3/"
export ax_params_file=${ax_library_dir}'Axiom_GW_Bos_SNP_1_96orMore_Step1.r3.apt-probeset-genotype.AxiomGT1.apt2.xml'
export ax_sketch_file=${ax_library_dir}'Axiom_GW_Bos_SNP_1.r3.AxiomGT1.sketch'
export ax_probeset_file=${ax_library_dir}"Axiom_GW_Bos_SNP_1.r3.cdf"
export ax_annot_db==${ax_library_dir}'Axiom_GW_Bos_SNP_1.na35.annot.db'
export ax_penncnv_map=${ax_results_dir}"Axiom_GW_Bos_SNP_1.na35.annot.db-probemappings.txt"