#!/bin/bash
# Author: Hernán Morales Durand <hernan.morales@gmail.com>
# General Axiom settings for running workflow

# Uncomment to debug this script
# set -x

###########################################
# Input parameters
###########################################


export ax_results_dir="ax_output/"

# Usually does not need to be changed
export ax_qnpmpes_file=${ax_results_dir}'quant-norm.pm-only.med-polish.expr.summary.txt'
export ax_calls_file=${ax_results_dir}'AxiomGT1.calls.txt'
export ax_confs_file=${ax_results_dir}'AxiomGT1.confidences.txt'
export ax_cel_file=$(pwd)'cel_files_list.txt'
export ax_report_file=${ax_results_dir}'AxiomGT1.report.txt'
export ax_suite_dir=${ax_results_dir}'suitefiles'
export ax_apt_geno_log=${ax_results_dir}"apt-genotype-axiom.log"
export computed_gender_file=${ax_results_dir}'gender_computed.txt'
